body{
    background-color: darkgray;
}

.inicio{
    border-radius: 25%;
    background-repeat: no-repeat;
    transition: 3s;
    background-image: url(../images/fondoAlice.jpg);
    display: flex;
    width: 900px;
    height: 640px;
    margin: auto;
    flex-direction: column-reverse;
    color:white;
    justify-content: center;
    font-size: xx-large;
    letter-spacing: 2px;
    line-height: 100px;
}

.oscurecerLetras{
    transition: 2s;
    color:rgba(240, 248, 255, 0);
}

.aclararLetras{
    transition: 1s;

}

.inicio0-alice{
    border-radius: 5px;
    background-repeat: no-repeat;
    transition: 3s;
    background-image: url(../images/fondoAlice.jpg);
    display: flex;
    width: 1024px;
    height: 768px;
    margin: auto;
    flex-direction: column-reverse;
    color:white;
    justify-content: center;
    font-size: xx-large;
    letter-spacing: 7px;
    line-height: 100px;
}

.achicar{
    transition: 4s;
    border-radius: 50%;
    opacity: 1;
}

.opacidad0{
    transition: 1s;
    opacity: 0;
}

.opacidad00{
    opacity: 0;
}


.inicio1-alice{
    border-radius: 2%;
    transition: 4s;
    background-image: url(../images/inicio-1.jpg);
    display: flex;
    width: 1024px;
    height: 768px;
    margin: auto;
    flex-direction: column;
}

.pantalla{
    transition: 2s;
    border-radius: 2%;
    background-image: url(../images/fondoAlice.jpg);
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1024px;
    height: 768px;
}

.pantalla>div>p{
    color:white;
    display: flex;
}

.contenedor-p{
    align-self: center;
    background-color: rgba(19, 17, 17, 0);
    margin: 40px 40px;
    width: 800px;
    height: 500px;
}

.contenedor-p>p{
    margin:25px;
}

.inicio-contenedor-botones{
    margin-left:-4000px;
}

.contenedor-botones{
    display: flex;
    justify-content: space-around;
}

.contenedor-botones>button{
    width: 150px;
    height: 50px;
}